body {
font-family: Arial, sans-serif;
background: #111;
color: white;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.box {
background: #1e1e1e;
padding: 30px;
border-radius: 10px;
text-align: center;
}


input, select, button {
margin: 10px;
padding: 10px;
width: 250px;
}


button {
background: red;
color: white;
border: none;
cursor: pointer;
}